modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = ["bash", "-c", "pnpm install && pnpm -C artifacts/web run build && pnpm -C artifacts/api-server run build"]
run = ["node", "artifacts/api-server/dist/index.cjs"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GITHUB_PAT = "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"
VITE_SUPABASE_URL = "https://ifkhmtqxqlqhfbawpyoy.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlma2htdHF4cWxxaGZiYXdweW95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMjM5ODAsImV4cCI6MjA4OTc5OTk4MH0.--Fn92kmDfvnQbffWhssSiYPKwvk6ST-BdI9C3m_7nE"
NEXAR_CLIENT_ID = "c7961d13-23b1-4bab-a309-6f9edb4b920f"
NEXAR_CLIENT_SECRET = "bdst541nz6QgEB7Sfd_KZqGr0R0GxsmzW7K9"

[nix]
channel = "stable-25_05"
